.articles {
  display: flex;

  &__desc {
    font-size: 25px;
    color: #222122;
  }

  &__image {
    object-fit: contain;
  }
}

@media (max-width: 819px) {
  .articles {
    &__desc {
      font-size: 20px;
    }
  }
}
